<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <title>DragonETH</title>
    <link rel="stylesheet" href="<%= BASE_URL %>css/min.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Roboto" rel="stylesheet">
    <!-- <script src="https://cdn.jsdelivr.net/gh/ethereum/web3.js@1.0.0-beta.36/dist/web3.min.js" integrity="sha256-nWBTbvxhJgjslRyuAKJHK+XcZPlCnmIAAMixz6EefVk=" crossorigin="anonymous"></script> -->
    <!-- <script src="https://cdn.jsdelivr.net/gh/ethereum/web3.js/dist/web3.min.js"></script> -->
  </head>
  <body>
    <noscript>
      <strong>We're sorry but v-dragontrx doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app" style="display: none;"></div>

    <div id="fountainG">
      <h1 id="loaderlogo" class="logo">DragonETH</h1>
      <div class="cssload-thecube">
        <div class="cssload-cube cssload-c1"></div>
        <div class="cssload-cube cssload-c2"></div>
        <div class="cssload-cube cssload-c4"></div>
        <div class="cssload-cube cssload-c3"></div>
      </div>
    </div>
    <!-- built files will be auto injected -->

    <script>
      var contracts = {
        crowdsale: "0x45e73ad30e0662c7262f913dc5715d03872c3292",
        dragonseth: "0x2050a13468359b78441f3dc3e0035e389ba4b08b",
        marketPlace: "0x98f9c00705b6466b0f83f4ca19203dba89413659",
        fightPlace: "0x29a9b3378c63cbc70727721ad9ef23218e66f8b1",
        mutagen: "0xf02fd49f71429e52f76b1bc6907670bd1fd78bcd",
        stat: "0x33db6b612c427a13b767273f5138222eca247c7e",
        proxy: "0x08e9ee022b1c38cb93f1fd59fcabcb86216c26a8",
        genlab: '0xc7130374e8fa2fc0235df0b6bca4285c4146ab26'
      };

      var config = {
        cloud: 'https://res.cloudinary.com/dragonseth/image/upload/',
        currentPrice: '16200000000000000',
        eggsSold: '560',
        buyCost: '10000000000000',
        currency: 'ETH',
        netID: 42,
        providers: 'https://kovan.infura.io/v3/d9877ecb6cf349baa97ca282de1f2ed4',
        blockExplorer: 'https://kovan.etherscan.io/'
      };
    </script>
  </body>
</html>
